@import 'common.css';

input {
    transition: background-color 1s;
    border: 1px solid pink;
    border-radius: 3px;
    margin: 1em 0;
    line-height: 2em;
    padding: 1em;
}


input[type='text']{
    display: block;
    width: 100%;
}

input[type='submit'] {
    transition: background-color .5s;
    border: 1px so;
    cursor: pointer;
    background-color: greenyellow;
}

input[data-active='true']{
    background-color: gold;
}

input[type='submit']:hover{
    background-color: hotpink;
}


.form {
    width: 40em;
    margin: 2em auto;
}

@media screen and (max-width: 50em){
    .form {
        width: 90vw;
    }
}