@import 'common.css';

body{
    font-size: 14px;
}

#form {
    width: 540px;
    padding: 1em;
}

@media screen and (max-width: 600px){
    #form {
        width: 90vw;
    }
}

textarea {
    width: 100%;
    height: 10em;
    direction: auto;
    resize: none;
    border: 1px solid #ddd;
    padding: .5em;
}

input {
    font-size: 1em;
    margin: 1em 0;    
    line-height: 1.5em;
    padding: .5em;
}


input[type='submit'] {
    transition: background-color .5s;
    border: 1px solid #ddd;
    cursor: pointer;
    color: white;
    background-color: #aea;
}

input[type='submit']:hover{
    background-color: #6e6;
}
